<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sa.revenue">

    //Clear why this permission is needed
    <uses-permission android:name="android.permission.INTERNET" />
    //Admob
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    //Admob
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    //Admob
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    //Set alarms after boot
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name="sa.revenue.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".advertisers.tapjoy.UpdateTapjoyService" />
        <service android:name=".advertisers.tapjoy.HistoricalLoadTapjoyService" />

        <service android:name=".advertisers.admob.UpdateAdmobService" />
        <service android:name=".advertisers.admob.HistoricalLoadAdmobService" />

        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />

        <receiver
            android:name="sa.revenue.general.receiver.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".advertisers.admob.UpdateAdmobReceiver"/>
        <receiver android:name=".advertisers.tapjoy.UpdateTapjoyReceiver"/>
    </application>

</manifest>
